<h2>試合一覧</h2>
<p>
  <%= link_to '＋', new_admin_game_information_path, class:"btn btn-light" %>
</p>

<% @game_informations.each do |day, informations| %>
 <table class="mx-auto">
  <thead>
    <tr>
      <th class="h4">試合日：<%= day %></th>
    </tr>
  </thead>
  <tbody>
    <% informations.each do | info | %>
    <tr>
      <td class="h2 p-3">
        <%= info.first_team.name %><%= info.first_team_point %> - <%= info.second_team_point %><%= info.second_team.name %>
      </td>
    </tr>
      <td>
        <div class="text-center">
          <%= link_to '編集する', edit_admin_game_information_path(informations), class:"btn btn-success" %>
        </div>
      </td>
    </tr>
    <% end %>
  </tbody>
 </table>
<% end %>
