<h2>試合一覧</h2>
  <div class = "section1 text-center">
    <%= link_to 'All Reviews', reviews_all_team_path, class:"btn btn-primary" %>
  </div>

  <% @game_informations.each do |day, informations| %>
  <table class="mx-auto">
  <thead>
    <tr>
      <th class="h4">試合日：<%= day %></th>
    </tr>
  </thead>
  <tbody>
    <% informations.each do | info | %>
    <tr>
      <td class="h2 p-8">
        <%= info.first_team.name %><%= info.first_team_point %> - <%= info.second_team_point %><%= info.second_team.name %>
      </td>
    </tr>
    <% end %>
  </tbody>
  </table>
  <% end %>

