<h2>試合一覧</h2>
<table>
  <thead>
    <th></th>
    <th></th>
    <th></th>
  <tbody>
    <% @game_informations.each do |game_information| %>
    <td><%= game_information.game_day %></td>
    <tr>
      <td><%= game_information.first_team.name %></td>
      <td><%= game_information.second_team.name %></td>
    </tr>
    <tr>
      <td><%= game_information.first_team_point %></td>
      <td><%= game_information.second_team_point %></td>
    </tr>
    <% end %>
  </tbody>

  <div class = "section1 text-center">
    <%= link_to 'All Reviews', reviews_team_path, class:"btn btn-primary" %>
  </div>

</table>
