<h2>レビュー情報編集</h2>
<%= form_with model: @review, url: review_path, method: :patch do |f| %>
<p>試合情報</p>
<%= @review.game_information.game_day %> <br />
<p></p>
<p>球団名</p>
<%= @review.team.name %> <br />
<p></p>
<p>Pick up Player</p>
<%= f.select :player_id, options_from_collection_for_select(Player.where("team_id = ? ", @review.team.id), :id, :name) %>
<%= f.select :point, options_for_select((0..50).map{ |n| n / 10.0 }), include_blank: true %>
<p></p>
<p>総評</p>
<%= f.text_area :evaluation %> <br />

<%= f.submit 'レビューを投稿',class:"btn btn-success"  %>

<% end %>
