<h2>球団一覧・追加</h2>
<%= form_with model: @team, url: admin_teams_path, method: :post do |f| %>
<h4>球団名</h4>
<%= f.text_field :name %>
<%= f.submit '新規登録', class:"btn btn-success" %>
<% end %>

<p>ジャンル</p>
<table>
  <thead>
      <th>球団名</th>
      <th></th>
  </thead>
  <tbody>
   <% @teams.each do |team| %>
   <tr>
    <td><%= team.name %></td>
    <td><%= link_to '編集する', edit_admin_team_path(team), class:"btn btn-success" %></td>
    <td><%= link_to '削除する', admin_team_path(team), method: :delete, class:"btn btn-danger" %></td>
    <td><%= link_to '球団詳細', admin_team_path(team.id), class:"btn btn-primary" %></td>
   </tr>
   <% end %>
  </tbody>
</table>
